# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Project specific
so3lr/
example_so3lr_per_atom_energies.py
*.ini
*/_*
src/__pycache_*
_*
tests/test_data/*

# Coverage reports
coverage.xml
htmlcov/
.coverage
*.cover
.pytest_cache/
protein_ligand_analyzer/*
example*
debug*

tests/test_data/*
Docker/*
trial*
calculate*
depracated*